<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.amos.study">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="design_width_in_dp"
            android:value="750" />
        <meta-data
            android:name="design_height_in_dp"
            android:value="1334" />

        <!--        <activity android:name=".ui.FileStudyActivity">-->
        <activity android:name=".MianShiAct">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name=".ui.FileStudyActivity" />

        <activity android:name=".compose.ComposeMainActivity" />

        <activity android:name=".activity.ExpandTextViewActivity" />

        <activity android:name=".ui.NestedScrollWebViewActivity" />

        <activity android:name=".kotlin.KotlinMainActivity" />

        <activity android:name=".activity.NestedScrollActivity" />

        <activity android:name=".socket.SocketActivity" />

        <activity android:name=".activity.DiyTayLayoutActivity" />

        <activity android:name=".scroll.ScrollTestActivity" />

        <activity android:name=".ui.RxJavaActivity" />

        <activity android:name=".ui.AndroidAutoSizeActivity" />

        <!--<activity android:name=".MianShiAct">
            <intent-filter>
                <action android:name="com.amos.study.MianShiAct" />
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>-->

        <activity android:name=".act.ServiceAct">
            <intent-filter>
                <action android:name="com.amos.study.ServiceAct" />
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <service android:name=".service.StartService"/>
    </application>

</manifest>